<h1>Word Counting Blog Journal</h1>

<a href="/main/add">[add new post]</a>

<% @posts.each do |post|%>
<p>
Title: <%= post.title %> <br/>
Body: <%= post.body%></br>
Post Id: <%= post.id%>
<a href="/main/edit/<%=post.id%>">[edit]</a>
<a href="/main/delete/<%=post.id%>">[delete]</a>
<a href="/main/view/<%=post.id%>">[view]</a>
</p>
<%end%>
